*.cab
*.exe
*.msi
*.iso
*.zip
*.rar
*.7z

**/proplus.ww/
**/office/data/
**/updates/

**/Nmap/
**/DELL_CMD/
**/HP_BCU/

*.log
*success*.txt
*failed*.txt
install_failed.txt
shutdown_tasks_success.txt
success.txt

clients.txt
rooms.txt
**/clients.txt
**/rooms.txt

Thumbs.db
desktop.ini
$RECYCLE.BIN/

*.tmp
*.bak
*.old
